* {
  margin: 0;
  padding: 0;
}

html {
  --bg-main-light: hsl(217, 28%, 15%);
  --bg-main: hsl(218, 28%, 13%);
  --bg-footer: hsl(216, 53%, 9%);
  --bg-testimonial: hsl(219, 30%, 18%);

  --white: hsl(0, 0%, 100%);
  --navbar-height: 120px;

  --colors-blue: hsl(198, 60%, 50%);
  --colors-cyan: hsl(176, 68%, 64%);
  --colors-error: hsl(0, 100%, 63%);

  font-family: 'Open Sans', sans-serif;

  font-size: 14px;
  color: var(--white);
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 80%;
  }
}

/* NAVBAR */

.nav {
  display: flex;
  background-color: var(--bg-main-light);
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  height: var(--navbar-height);
}

.nav__linksContainer {
}

.nav__logo {
  width: 176px;
}

.nav__link {
  color: var(--white);
  text-decoration: none;
  margin-left: 3rem;
}

.nav__link:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 800px) {
  .nav__logo {
    width: 100px;
  }
}
/* Header */
header {
  background-color: var(--bg-main-light);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 10%;
  background-image: url('./images/bg-curvy-desktop.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.header__imageContainer {
  width: 100%;
  max-width: 720px;
}

.header__imageContainer img {
  width: 100%;
}

.header__title {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.7em;
  margin-top: 1em;
  max-width: 20em;
}

.header__desc {
  font-size: 1.2rem;
  margin-top: 2em;
  text-align: center;
  line-height: 1.8em;
  max-width: 30em;
}

.header__btn {
  margin-top: 2em;
  width: 220px;
}

/* Feats */

.feats {
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.feats__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px 120px;
  justify-items: center;
  align-items: center;

  max-width: 850px;
}

.feat {
  text-align: center;
}

.feat__imgContainer {
  margin: 0 auto;
  width: max-content;
}

.feat__header {
  margin-top: 1em;
}

.feat__desc {
  margin-top: 0.8em;
  line-height: 1.8em;
}

/* productive */

.productive {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  background-color: var(--bg-main);
}

.productive__container {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

.productive__imgContainer {
  margin-left: auto;
}

.productive__header {
  font-size: 2.8rem;
}

.productive__desc {
  margin-top: 1em;
  font-size: 1.2rem;
}

.productive__link {
  width: max-content;
  padding-bottom: 0.3em;
  display: flex;
  margin-top: 1.5em;
  align-items: center;
  border-bottom: 1px solid var(--colors-cyan);
}

.productive__link a {
  font-size: 1.2rem;
  color: var(--colors-cyan);
  margin-right: 0.5em;
}

/* quotes  */

.quotes {
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.quotes__inner {
  display: flex;
  position: relative;
  z-index: 1;
}

.quotes__quoteImg {
  position: absolute;
  left: 10px;
  top: -35px;
}

.quote {
  font-size: 1.1rem;

  background-color: var(--bg-testimonial);
  margin: 0 20px;
  padding: 2em;
  max-width: 450px;
  border-radius: 10px;
  position: relative;
}

.quote::after {
  content: '';
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  border-radius: 10px;

  background-color: var(--bg-main-light);
  left: 7px;
  top: 7px;
}

.quote__desc {
  margin-top: 2em;
}

.quote__profile {
  display: flex;
  margin-top: 2em;
  align-items: center;
}

.quote__profile__imageContainer {
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  padding: 0;
}

.quote__profile__imageContainer img {
  display: block;
  width: 100%;

  object-fit: cover;
  object-position: center;
}

.quote__profile__main {
}

.quote__profile__name {
  margin-bottom: 0.2em;
  font-weight: 600;
}

.quote__profile__position {
  font-size: 0.8rem;
}

/* Signup */

.signup {
  padding: 100px 0;
  background: var(--bg-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.signup::after {
  content: '';
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: var(--bg-footer);
  z-index: -1;
}

.signup__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-main-light);
  border-radius: 10px;
  padding: 3em 5%;
  text-align: center;
  max-width: 800px;
  width: 90%;

  box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
}

.signup__header {
  font-size: 2.5rem;
  margin-bottom: 0.8em;
  width: 100%;
}

.signup__desc {
  line-height: 1.8em;
  margin-bottom: 2em;
  width: 100%;
}

.signup__form {
  display: flex;
  width: 100%;
}

.signup__form__input {
  width: 100%;
  margin-right: 2em;
  border-radius: 1000px;
  border: none;
  font-size: 1.2rem;
  padding: 1em 2em;
}

.signup__form__btn {
  width: 24em;
}

/* Footer */

.footer {
  background-color: var(--bg-footer);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__inner {
  max-width: 1350px;
}

.footer__main {
  margin-top: 2em;
  display: flex;
  margin-bottom: 8em;
  width: 100%;
}

.footer__section {
  margin-right: 100px;
  width: auto;
}
.footer__section:last-child {
  margin-right: 0;
}

.footer__section--1 {
  display: flex;
}

.footer__section--1__imgContainer {
  position: relative;
  top: 10px;
}

.footer__section--1__desc {
  margin-left: 20px;
  line-height: 1.8em;
}

.footer__section--2__container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.footer__section--2__container p {
  display: flex;
  margin-left: 20px;
}

.footer__section--3 {
  list-style: none;
}

.footer__section--3__link,
.footer__section--4__link {
  margin-bottom: 1em;
}

.footer__section--3__link > a,
.footer__section--4__link > a {
  color: var(--white);
  text-decoration: none;
}

.footer__section--4 {
  list-style: none;
}

.footer__section--5 {
  display: flex;
}

.footer__section--5 > * {
  margin-left: 1em;
}

.footer__section--5__iconContainer {
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.footer__section--5__iconContainer > i {
  font-size: 3rem;
}
/* Button*/
.btn {
  font-size: 1rem;
  font-weight: 600;

  padding: 1.2em 1.5em;
  letter-spacing: 1px;
  border-radius: 1000px;
  border: none;
  color: var(--white);
  cursor: pointer;
  background: linear-gradient(to right, var(--colors-cyan), var(--colors-blue));
}

/* misc */

div > img {
  display: block;
}
